#logging
#random
#collections 
#itertools 
#typing

numpy
pandas
scikit-learn
#streamlit
dash
dash-bootstrap-components
dash-mantine-components
matplotlib
textblob
snorkel==0.9.9 #via pip install for version needed
#snorkel.labeling.analysis 
#snorkel.labeling.model.graph_utils
#snorkel.labeling.model.logger 
#snorkel.labeling 
#snorkel.labeling.model.label_model
#snorkel.types 
#snorkel.utils 
#snorkel.utils.config_utils 
#snorkel.utils.lr_schedulers 
#snorkel.utils.optimizers 


 
torch
torch.nn
torch.optim 
#munkres 

#optuna
